
/* CSS Reset*/
body, header, nav, main footer, h1, div, img, ul, figure, figcaption, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
		background-color: #fff; 
}

img {
	max-width: 100%;
	display: block;
}

script {
	display: block;
}

/* Style rules for box sizing applies to all elements */
*{
	box-sizing: border-box;
}

#offerText {
	display: block;
	background-color: #000;
	text-align: center;
	padding: 2%;
	margin: 0 auto;
	width: 90%;
	border-radius: 5px;
}
#math {
	display: block;
	background-color: #c0c0c0;
	text-align: center;
	padding: 2%;
	margin: 0 auto;
	width: 50%;
	border-radius: 5px;
	border: 3px solid #000;
	font-weight: bold;
}

.species {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;
}

form {
	text-align: center;
}

#card {
		display: grid;
		grid-template-columns: 20% auto;
		grid-gap: 50px;
}

#container {
		position: relative;
		margin: 0 5% 0 0;
}

#to {
		position: absolute;
		bottom: 150px;
		right: 10px;
}

#to::before {
	color: #23b574;
	content: "To: "
}

#from {
		position: absolute;
		bottom: 50px;
		right: 10px;
}

#from::before {
	color: #23b574;
	content: "From: "
}

.cardtext {
	color: #23b574;
	font-family: 'fredoka one', 'arial rounded mt bold', 'segoe ui';
}

#list {
	padding: 0 0 0 5%;		
}

#list li.n a {
	text-decoration: none;
	color: #648200;
}
#list li.v a {
	text-decoration: none;
	color: #820064;
}

.nonvenomous {
	color: #648200;
}

.venomous {
	color: #820064;
}

.nonvenomous::before {
	color: #648200;
	font-weight: bold;
	content: "☮ "
}

.venomous::before {
	color: #820064;
	font-weight: bold;
	content: "☣ "
}

textarea {
	display: block;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	border-radius: 5px;
	border: 3px solid #000;
	font-weight: bold;
}

.offertext {
	color: #fff;
}

#noteName {
	display: block;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	padding: 1%;
	width: 50%;
	border-radius: 5px;
	border: 3px solid #000;
	font-weight: bold;
}

#message {
	font-weight: bold;
	font-style: italic;
}

footer p {
	text-align: center;
}

/* Style rules for mobile viewport */

/* Style rules for header */ 

	
/* Style rules for navigation area */


/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for main content */

main {
	font-family: 'Segoe UI';
}

/* Style rules for footer content */

/*Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/*Tablet Viewport: Show tablet-desktop class, hide mobile class. */
	.tablet-desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header */

	
	/* Tablet Viewport: style rules for nav area */

	
	/* Tablet Viewport: Style rules for main content area */

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	
	/* Desktop Viewport: Style rule for header */

	
	/* Desktop Viewport: Style rules for nav area */

	/* Desktop Viewport: Style rules for main content */

}

/* Media Query for Large Desktop viewports */
@media screen and (min-width: 1921px) {
		
		#container {
			width: 1920px;
			margin: 0 auto;
		}
		
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
	#container {
		position: relative;
		margin: 0 5% 0 0;
		border: 2px solid #c6c6c6;
}
	
}
	
