<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<title>Reticulated Pythons</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
	<link rel="icon" sizes="192x192" href="images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
</head>
<body>

	<!-- Use the header area for the website name or logo -->
	<header>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="information.html">Information</a></li>
				<li><a href="learning.html">Educational Content</a></li>
				<li><a href="more.html">More</a></li>
				<li><a href="secret.html">Secret</a></li>
				<li><a href="merch.html">Merchandise</a></li>
				
			</ul>
		</nav>
	</header>

	<!-- use the main area to add the main content of the webpage -->
	<main>

	<h1 style="text-align: center; font-weight: bold;">Merch Store</h1>
	<hr>
	<h3 style="text-align: center; font-weight: bold;">Create a custom postcard!</h3>
	
	
	
	<div id="card">
	
	<form>
	To:<br>
	<input ng-model="to" type="text"/><br>
	From:<br>
	<input ng-model="from" type="text"/><br>
	<input type="submit" value="Create Card!" onclick="window.print()" />
	</form>

	<div id="container">
	<img src="images/card.jpg" alt="error displaying template" height="100%">
	<h1 id="to" class="cardtext">{{ to }}</h1>
	<h1 id="from" class="cardtext">{{ from }}</h1>
	</div>
	
	</div>
		
	</main>

	<!-- Use the footer area to add webpage footer content -->
	<footer>
		<p>&copy; Copyright 2023. All Rights Reserved.</p>
	</footer>

</body>
</html>